<!DOCTYPE html>
<html lang="en" ng-app="FirstPage">
<head>
    <meta charset="UTF-8">
    <title>Page1</title>
    <link rel="stylesheet" href="src/bootstrap.css"/>
    <link rel="stylesheet" href="src/bootstrap-theme.css"/>
</head>
<body ng-controller="FirstCtrl">
<table>
    <tr>{{num1.question}}</tr>
    <tr ng-repeat="answer in  num1.answers">
        <td>{{answer.option}}</td>
        <td><input type="checkbox" ng-model="answer.done" />{{answer.done}}</td>
    </tr>
</table>
<table>
    <tr>{{num2.question}}</tr>
    <tr ng-repeat="answer in  num2.answers">
        <td>{{answer.option}}</td>
        <td><input type="checkbox" ng-model="answer.done" />{{answer.done}}</td>
    </tr>
</table>
<table>
    <tr>{{num3.question}}</tr>
    <tr ng-repeat="answer in  num3.answers">
        <td>{{answer.option}}</td>
        <td><input type="checkbox" ng-model="answer.done" />{{answer.done}}</td>
    </tr>
</table>
<table>
    <tr>{{num4.question}}</tr>
    <tr ng-repeat="answer in  num4.answers">
        <td>{{answer.option}}</td>
        <td><input type="checkbox" ng-model="answer.done" />{{answer.done}}</td>
    </tr>
</table>
<table>
    <tr>{{num5.question}}</tr>
    <tr ng-repeat="answer in  num5.answers">
        <td>{{answer.option}}</td>
        <td><input type="checkbox" ng-model="answer.done" />{{answer.done}}</td>
    </tr>
</table>
<button class="col-md-1"  class="btn btn-success" ng-click="submit1()">Next Page</button>







<script src="src/angular.min.js"></script>
<script src="src/ui-bootstrap-tpls-0.13.3.min.js"></script>
<script src="js/firstpage.js"></script>
</body>
